<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GoogleForOneDay</title>
    <base href="/">
</head>
<body>
    @RenderBody()
    <script type="text/javascript" src="~/Frontend/dist/inline.bundle.js"></script>
    <script type="text/javascript" src="~/Frontend/dist/polyfills.bundle.js"></script>
    <script type="text/javascript" src="~/Frontend/dist/styles.bundle.js"></script>
    <script type="text/javascript" src="~/Frontend/dist/vendor.bundle.js"></script>
    <script type="text/javascript" src="~/Frontend/dist/main.bundle.js"></script>
</body>
</html>
